# Django
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=evamode.ir,www.evamode.ir
DJANGO_CSRF_TRUSTED_ORIGINS=https://evamode.ir,https://www.evamode.ir
DJANGO_SECURE_SSL_REDIRECT=True

# Database
DB_ENGINE=mysql
DB_NAME=cpanel_database_name
DB_USER=cpanel_database_user
DB_PASSWORD=replace-with-database-password
DB_HOST=localhost
DB_PORT=3306
